# Data Science Tools and Ecosystem

## Author:
Ketan Goud

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

__Objectives:__
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Keras
3. Matplotlib

| Data Science Tools |
|:-------------------|
| Jupyter            |
| Anaconda           |
| Git                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
mins=200
hrs=200/60
print(hrs)

3.3333333333333335